.btn {
	background-color: $mainColor;
	color: #fff;
	padding: 10px 15px;
	border-radius: 6px;

	&:hover {
		background-color: #6d8fbf;
	}

	&:active {
		box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
	}

	&:disabled {
		opacity: 0.5;
	}

	&.secondary {
		background-color: transparent;
		border: 1px solid $mainColor;
		color: $mainColor;

		&:hover {
			background-color: rgba(94, 129, 172, 0.1);
		}
	}

	&.delete {
		background-color: $dangerColor;

		&:hover {
			background-color: #a94d56;
		}
	}
}
