@keyframes pie-charta {
	0% {
		background: conic-gradient(
			#ffffff 0% 30%,

			#f28e2c 30% 55%,
			#e15759 55% 75%,
			#76b7b2 75% 100%
		);
	}
	100% {
		background: conic-gradient(
			#f28e2c 30% 55%,
			#e15759 55% 75%,
			#76b7b2 75% 100%
		);
	}
}

.pie {
	position: relative;
	width: 200px;
	height: 200px;
	// border-radius: 50%;
	background: conic-gradient(#4e79a7 0% 23.6%, #d7acac 23.6% 100%);
	transition: 2s;
	// animation: pie-charta ease-out 2s infinite;

	// &:after {
	// 	content: '';
	// 	position: absolute;
	// 	width: 70%; /* регулируйте этот размер для изменения ширины кольца */
	// 	height: 70%;
	// 	background: white; /* или любой другой цвет фона */
	// 	border-radius: 50%;
	// 	top: 15%;
	// 	left: 15%;
	// }
}

.wrapper {
	display: flex;
	margin-top: 100px;
}
.table {
	flex: 1 0 auto;
}

.donuts {
	margin: 50px 80px 0;
	// margin-top: 50px;
	// margin-left: 80px;
	display: flex;
	flex-direction: column;
	gap: 75px;
}
