.controlPanel {
	display: flex;
	gap: 10px;
	align-content: end;
	align-items: center;
	justify-content: space-between;
	// justify-self: end;
	margin-bottom: 25px;
	margin-top: 25px;
}
.controlBtns {
	display: flex;
	gap: 10px;
	align-content: end;
	align-items: center;
	margin-bottom: 25px;
	margin-top: 25px;
	margin-left: auto;
}
