.header {
	padding: 20px;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	color: $mainColor;
}
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.links {
	display: flex;
	gap: 10px;
	color: $mainColor;
}
.link {
	padding: 10px;
	&:hover {
		opacity: 0.6;
	}
	&.active {
		text-decoration: underline;
	}
}

.user {
	display: flex;
	align-items: center;
	gap: 5px;

	&:hover div {
		opacity: 0.6;
	}
	color: $mainColor;
	&.active {
		text-decoration: underline;
	}
}
.avatar {
	border-radius: 50%;
}
