.donut {
	position: relative;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin: 0 auto;
	// background: conic-gradient(#4e79a7 0% 100%);

	&:hover > div {
		opacity: 0.3;
	}

	& > div:hover {
		opacity: 1;
	}
}

.donutHole {
	// content: 'Проекты';
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 70%;
	height: 70%;
	background: white;
	border-radius: 50%;
	top: 15%;
	left: 15%;
	z-index: 5;
	pointer-events: none;
}
