// @import url('./variables.scss');
// @import './App.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
	background-color: $bgColor;
	font-size: 18px;
}
.appColumn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $bgColor;
	font-family: 'Inter', sans-serif;
	/* width: 1000px; */
	// min-height: 100%;
	// margin: 0 auto;
	min-height: 100%;
}
.pageContent {
	padding: 120px 0 50px;
	height: 100%;
	// flex-grow: 1;
	// display: flex;
}

:global .container {
	padding: 0 15px;
	max-width: 1230px;
	margin: 0 auto;
}

:global .h2 {
	font-size: 28px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5em;
}

:global .row {
	display: flex;
	width: 100%;
	padding: 16px 24px;
	border-bottom: 1px solid #e5e9f0;
	color: $textColor;
	align-items: center;

	&.rowHeader {
		color: $mainColor;
	}

	&:nth-of-type(2n + 1) {
		background-color: #fff;
	}

	&:nth-of-type(2n) {
		background-color: #f8f9fa;
	}

	&.rowDark {
		background-color: #f0f4f8;
	}

	&.hover:hover {
		background-color: #f0f4f8;
	}
}

:global .error {
	color: $dangerColor;
	padding: 10px 15px;
	border: 1px solid $dangerColor;
	background-color: #fee9e9;
	border-radius: 6px;
}

// @keyframes logo-spin {
// 	from {
// 		transform: rotate(0deg);
// 	}
// 	to {
// 		transform: rotate(360deg);
// 	}
// }

:global {
	.loader {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		display: inline-block;
		position: relative;
		background: linear-gradient(
			0deg,
			rgba(51, 122, 183, 0.2) 33%,
			#337ab7 100%
		);
		box-sizing: border-box;
		animation: rotation 1s linear infinite;

		&::after {
			content: '';
			box-sizing: border-box;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 44px;
			height: 44px;
			border-radius: 50%;
			background: #ffffff;
		}
	}
}

@keyframes :global(rotation) {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
